
<app-login *ngIf="isLogin"></app-login>
  <div *ngIf="!isLogin" class="goliveContainer" >
    <div class="example-button-container example-button-container1" (click)="shareLocation()" >
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon> location_on</mat-icon>
        </button>
      </div>
    
    <div class="example-button-container example-button-container2" (click)="stopShareLocation()">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>location_off</mat-icon>
        </button>
      </div>
  </div>
  