<mat-grid-list cols="2" [gutterSize]="'15px'">
  <a href="/golive"
    ><mat-grid-tile class="grid-tile">
      <img
        src="https://cdn-icons-png.flaticon.com/512/64/64283.png"
        alt="bus logo"
      />
      <h2>Go Live</h2>
    </mat-grid-tile></a
  >

  <a href="/trackBus"
    ><mat-grid-tile class="grid-tile">
      <img
        src="https://www.iconpacks.net/icons/1/free-pin-icon-48-thumb.png"
        alt="bus logo"
      />

      <h2>Track Your Bus</h2>
    </mat-grid-tile></a>
</mat-grid-list>
